/* Primary Color */
/* Neutral */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c5e4e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Space Mono', monospace;
}

/* Imagen de cabecera */
.splitter-img {
  padding-bottom: 2rem;
}

/* Contenedor principal */
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 500px;
  background-color: white;
  border-radius: 20px;
  margin-top: 2rem;
}

/* Seccion que envia los datos */
.section-data {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #547877;
  font-weight: 510;
}

.bill p, .people-container p {
  margin-bottom: 6px;
}

.bill-input, .bill-number-people {
  width: 100%;
  height: 45px;
  background-color: #eaf5f5;
  border-radius: 6px;
  border: none;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  padding: 1rem 10px;
  color: #5a8381;
  background-repeat: no-repeat;
  outline: none;
  background-position: 5%;
  font-family: 'Space Mono', monospace;
  cursor: pointer;
}

.bill-input {
  background-image: url("/Tip-calculator-app/images/icon-dollar.svg");
}

.bill-input:hover, .bill-number-people:hover {
  border-width: 2px;
  border-style: solid;
  border-color: #26c0ab;
}

.bill-number-people {
  background-image: url("/Tip-calculator-app/images/icon-person.svg");
}

/* select tip */
.tip-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.tip-offer-1 button, .tip-offer-2 button, #custom-input {
  padding: 10px 1rem;
  font-size: 23px;
  font-weight: 750;
  letter-spacing: 1;
  border: none;
  border-radius: 5px;
  width: 115px;
  font-family: 'Space Mono', monospace;
}

.tip-offer-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tip-offer-2 {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn-offer {
  background-color: #00494d;
  color: white;
  cursor: pointer;
}

.btn-offer:hover {
  background-color: #a1e8e0;
  color: #00494d;
}

.btn-offer:focus {
  background-color: #a1e8e0;
  color: #00494d;
}

#custom-input {
  background-color: #eaf5f5;
  color: #5a8381;
  cursor: pointer;
  text-align: right;
  border: none;
  outline: none;
}

#custom-input:hover {
  border-width: 2px;
  border-style: solid;
  border-color: #26c0ab;
}

#custom-input:focus {
  border-width: 2px;
  border-style: solid;
  border-color: #26c0ab;
}

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom-errormsj {
  color: #eeac96;
}

/* Seccion that shows the results */
.section-result {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

.result-container {
  padding: 2rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00494d;
  width: 85%;
  height: 85%;
  border-radius: 12px;
  position: relative;
}

.result-container__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
}

.result-container__inputs-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.result-container__inputs-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: 3px;
  max-width: 169px;
}

.tip-amount-p {
  max-width: 65%;
}

.tip-total-p {
  max-width: 40%;
}

.tip-total-input, .tip-amount-input {
  border: none;
  color: #26c0ab;
  background-color: transparent;
  font-size: 45px;
  text-align: center;
  width: 100%;
  max-width: 210px;
  font-weight: bolder;
  font-family: 'Space Mono', monospace;
}

.tip-total-input {
  position: absolute;
  top: 85px;
  padding-top: 4px;
}

span {
  color: #7f9c9f;
  font-weight: bolder;
  font-size: 13px;
}

.result-container button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  max-width: 80%;
  background-color: #0c696e;
  font-weight: 1000;
  font-size: 20px;
  position: absolute;
  bottom: 35px;
  width: 100%;
  left: 40px;
  color: #00494d;
  cursor: pointer;
  font-family: 'Space Mono', monospace;
}

.result-container button:hover {
  background-color: #a1e8e0;
  color: #00494d;
}

.result-container button:focus {
  background-color: #a1e8e0;
  color: #00494d;
}

/* quitar las flechas de los input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 760px) {
  .splitter-img {
    margin-top: 8rem;
  }
  .main-container {
    max-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 360px;
  }
  .tip-offer {
    margin-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tip-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tip-offer-1, .tip-offer-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tip-offer-1 {
    padding-right: 1rem;
  }
  .tip-offer-2 {
    padding-left: 1rem;
    height: 100%;
    min-height: 231px;
    padding-top: 0;
  }
  #custom-input {
    text-align: center;
  }
  .tip-offer-1 button, .tip-offer-2 button, #custom-input {
    width: 140px;
  }
  .custom-errormsj {
    width: 100%;
    max-width: 130px;
  }
  .section-result {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    width: 100%;
    min-width: 383px;
    height: 100%;
    min-height: 350px;
  }
  .result-container {
    padding: 1rem;
  }
  .tip-total-input, .tip-amount-input {
    font-size: 40px;
  }
  .tip-amount-p {
    width: 100%;
    max-width: 100px;
  }
  .tip-total-p {
    width: 100%;
    max-width: 66px;
  }
}
/*# sourceMappingURL=style.css.map */